@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Dancing+Script:wght@400..700&family=Foldit:wght@100..900&family=Gupter:wght@400;500;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{list-style: none;text-decoration: none; padding: 0px; margin: 0px; color: white ;font-family: "Bodoni Moda SC", serif;flex-shrink: 0;flex-wrap: wrap;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;


    }
    body{
        background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(0, 22, 78) );




    }
    .container{ background-image: linear-gradient(to right, black , rgba(4, 2, 73, 0.834) ),url(8.jpeg); width:100vw; height: 100vh; background-attachment: fixed; background-repeat: no-repeat; transition:2s ; -webkit-transition:2s ; -moz-transition:2s ; -ms-transition:2s ; -o-transition:2s ;background-position: center; }
    nav{display: flex;flex-flow: row;justify-content: space-between;margin: 5px;padding: 10px;flex-shrink: 0;}
ul{display: flex;justify-content: space-evenly;width: 800px;}
.container:hover{ background-image: linear-gradient(to right, rgba(0, 0, 0, 0.758) , transparent ),url(8.jpeg); transition:6s ; -webkit-transition:6s ; -moz-transition:6s ; -ms-transition:6s ; -o-transition:6s ; }
ul li a{display: flex;align-items: center;gap: 10px;}
ul li p:hover{text-decoration: underline;}
.content{display:flex ;justify-content: space-evenly;align-items: flex-start;flex-wrap: no wrap;height: 80%;flex-direction: column;width: 100%;flex-shrink: 0;}
.par{width: 60%;display: flex;flex-flow: column  wrap;gap: 20px;justify-content: flex-start;padding: 40px;padding-left: 40px;flex-shrink: 0;letter-spacing: 3px;}

button{ color: black;width: 20%; outline-style: groove;padding: 5px;background-color: rgb(189, 189, 221); border-radius:12px ; -webkit-border-radius:12px ; -moz-border-radius:12px ; -ms-border-radius:12px ; -o-border-radius:12px ;align-self: self-start;flex-wrap: wrap;flex-shrink: 0;border: transparent,slid,2px;overflow: hidden;white-space: wrap; }
.par h1{font-size: 100px;}
.par p{width: 450px;}
button:hover{background-color: transparent;color: white;border: white 2px solid;cursor: pointer;}